SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465

REMETENTE_1_SENHA=
REMETENTE_2_SENHA=
REMETENTE_3_SENHA=
REMETENTE_4_SENHA=
REMETENTE_5_SENHA=
REMETENTE_6_SENHA=
REMETENTE_7_SENHA=
REMETENTE_8_SENHA=
REMETENTE_9_SENHA=
REMETENTE_10_SENHA=
REMETENTE_11_SENHA=
REMETENTE_12_SENHA=
REMETENTE_13_SENHA=
REMETENTE_14_SENHA=
REMETENTE_15_SENHA=